; {{ ansible_managed }}
[couchdb]
database_dir = {{ couchdb_database_dir }}
view_index_dir = {{ couchdb_view_index_dir }}
max_dbs_open = {{ couchdb_max_dbs_open }}

{% for k,v in couchdb_couchdb_extra_settings.iteritems()|sort %}
{{k}} = {{v}}
{% endfor %}

[httpd]
port = {{ couchdb_port }}
bind_address = {{ couchdb_bind_address }}

{% for k,v in couchdb_http_extra_settings.iteritems()|sort %}
{{k}} = {{v}}
{% endfor %}

{% for k,v in couchdb_extra_settings.iteritems()|sort %}
[{{k}}]
{% if v is iterable and v is not string %}
{% for setting,value in v.iteritems()|sort %}
{{setting}} = {{value}}
{% endfor %}
{% endif %}
{% endfor %}

[log]
level = {{ couchdb_log_level }}
